@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "ChangePassword";
}
<style>
    .display-6 {
        font-size: 20px !important;
        font-family: "Times New Roman", Times, serif !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Thay đổi mật khẩu</h4>
            </div>
            <div class="card-block">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div id="fmpassword" class="form-group row">
                                <label class="control-label col-md-4">Mật khẩu cũ</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input id="password" type="password" class="form-control">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                    </div>
                                    <small id="sppassword" class="form-control-feedback">Mật khẩu không hợp lệ </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div id="fmnpassword" class="form-group row">
                                <label class="control-label col-md-4">Mật khẩu mới</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input id="npassword" type="password" class="form-control">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                    </div>
                                    <small id="spnpassword" class="form-control-feedback">Mật khẩu không hợp lệ </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div id="fmcpassword" class="form-group row">
                                <label class="control-label col-md-4">Xác nhận mật khẩu</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input id="cpassword" type="password" class="form-control">
                                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                                    </div>
                                    <small id="spcpassword" class="form-control-feedback">Mật khẩu phải trùng với mật khẩu mới </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">

                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group row">
                                <button onclick="ChangePass()" class="btn pull-right hidden-sm-down btn-primary" style="margin-left: 15px;width: 110px;">
                                    <i class="fa fa-check"></i> Cập nhật
                                </button>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->

                </div>
                @*</form>*@
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Account/Profile.js"></script>