@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Quản lý lớp học";
}
<style>
    .modal-dialog {
        max-width: 500px !important;
    }

    .form-horizontal label {
        margin-top: 8px !important;
    }

    .badge {
        font-size: 100% !important;
    }
    .btn-success{
    background: #7460ee;
    border: 1px solid #7460ee;
}
</style>


<div class="row">
    <button class="btn pull-left hidden-sm-down btn-success" data-toggle="modal" data-target="#ModelAddClass" style="margin-left: 15px;">
        <i class="fa fa-plus"></i> Thêm lớp học
    </button>

</div>

<div class="row" style="    margin-top: 10px;">
    <div class="col-12">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Thông tin lớp học</h4>
            </div>
            <div class="card-block">
                <form action="form-layout.html#" class="form-horizontal">
                    <div class="form-body">
                        <table id="listclass" class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã lớp</th>
                                    <th>Tên lớp</th>
                                    <th>Khối</th>
                                    <th>Sĩ số</th>
                                    <th>Sĩ số tối đa</th>
                                    <th>Cập nhật</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="col-md-12">
    <div class="card">
        <div class="card-block">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel1">Cập nhật thông lớp học</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                @*<div class="col-md-12">
                                    <div  class="form-group row">
                                        <label class="control-label text-right  col-md-4">Mã lớp</label>
                                        <div class="col-md-8">
                                            <input id="ClassID" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-12">
                                    <div id="fmsubjectname"  class="form-group row">
                                        <label class="control-label text-right  col-md-4">Tên lớp</label>
                                        <div class="col-md-8">
                                            <input id="ClassName" type="text" class="form-control">
                                            <small id="spclassname" class="form-control-feedback">Tên lớp không được để trống </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" hidden>
                                    <div id="fmsubjectperiod" class="form-group row">
                                        <label class="control-label text-right  col-md-4">Khối</label>
                                        <div class="col-md-8">
                                            <select id="block3" data-style="form-control btn-secondary"></select>
                                            @*<small id="spsubjectperiod" class="form-control-feedback">Tên môn học không được để trống </small>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="form-group has-error row ">
                                        <label class="control-label col-md-6" style="padding-top: 9px;">Sĩ số tối đa</label>
                                        <div class="col-md-6">
                                            <input id="maxtotal" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="btnclose()" class="btn btn-default">Đóng</button>
                            <input type="hidden" id="hidClassID" />
                            <button type="button" class="btn btn-primary" onclick="updateinfoclass()">
                            <i class="fa fa-edit" style="font-size:16px"></i>Lưu</button>
                            @*<button type="button" class="btn btn-primary" onclick="updateinfosubject()">
                            <i class="fa fa-edit" style="font-size:16px"></i>Lưu</button>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="ModelAddClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content card card-outline-success">
                        <div class="modal-header card-header">
                            <h4 class="modal-title" id="exampleModalLabel1" style="color:white">Thêm lớp học</h4>
                             </div>
                        <div class="modal-body">
                            <form>

                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label text-right  col-md-4">Khối</label>
                                        <div class="col-md-8">
                                            <select id="block2" data-style="form-control btn-secondary"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="fmclassname" class="form-group row">
                                        <label class="control-label text-right  col-md-4">Tên lớp</label>
                                        <div class="col-md-8">
                                            <input id="classnameadd" type="text" class="form-control">
                                            <small id="spclassname" class="form-control-feedback">Tên lớp không được để trống</small>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick="closeAddClass()">Đóng</button>
                            <button type="button" class="btn btn-primary" onclick="addclass()">
                            <i class="fa fa-edit" style="font-size:16px"></i>
                            Thêm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Classes/Classes.js"></script>
<script>
    $(document).ready(function () {
        $('#block2').selectpicker();
        $('#block3').selectpicker();
        $.ajax({
            type: "GET",
            url: '/Classes/getClassLevel',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                var jsonData = JSON.stringify(data);
                $.each(JSON.parse(jsonData), function (idx, obj) {
                    $("#block2").append('<option value="' + obj.value + '">' + obj.text + '</option>').selectpicker('refresh');
                    $("#block3").append('<option value="' + obj.value + '">' + obj.text + '</option>').selectpicker('refresh');
                });
            },
            error: function (xhr, status, error) {
                alert('err or seleccct 2222:');
            }
        });
       
        $('#grade2').selectpicker();
        $('#birthDay').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });

        $.ajax({
            type: "GET",
            url: '/Classes/getClassByLevel',
            contentType: "application/json; charset=utf-8",
            data: { idLevel: 0 },
            dataType: "json",
            async: false,
            success: function (data) {
                //$('#grade').find('option').remove().end();
                var jsonData = JSON.stringify(data);
                $.each(JSON.parse(jsonData), function (idx, obj) {
                    $("#grade2").append('<option value="' + obj.value + '">' + obj.text + '</option>').selectpicker('refresh');
                });
            },
            error: function (xhr, status, error) {
                alert('Error789:');
            }
        });
    })


</script>
