
@{
    ViewBag.Title = "Score";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Quản lý bảng điểm";
}
<style>
    .badge {
        font-size: 100% !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Bảng điểm môn học</h4>
            </div>
            <div class="card-block">
                <form action="form-layout.html#" class="form-horizontal">
                    <div class="form-body">
                        <hr class="m-t-0 m-b-40">
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-2">
                                <div id="fmgrade" class="form-group row">
                                    @*<label class="control-label text-right col-md-3" style="padding-top: 6px;">Lớp</label>*@
                                    <div class="col-md-12">
                                        <select id="grade" data-style="form-control btn-secondary"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div id="fmgrade" class="form-group row">
                                    @*<label class="control-label text-right col-md-4" style="padding-top: 6px;">Môn</label>*@
                                    <div class="col-md-12">
                                        <select id="subject" data-style="form-control btn-secondary"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div id="fmgrade" class="form-group row">
                                  @*  <label class="control-label text-right col-md-4" style="padding-top: 6px;">Học kỳ</label>*@
                                    <div class="col-md-12">
                                        <select id="semester" data-style="form-control btn-secondary">
                                            <option value="1">Học kỳ 1</option>
                                            <option value="2">Học kỳ 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="" class="form-group row">
                                    @*<label class="control-label text-right col-md-2">Khóa học</label>*@
                                    <div class="col-md-12">
                                        <select id="Year" data-style="form-control btn-secondary">
                                            @{
                                                int strDate = DateTime.Now.Year;
                                                for (; strDate > 1988; strDate--)
                                                {
                                                    var tem = strDate - 1;
                                                    <option value="@tem-@strDate">Khóa học @tem - @strDate </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div id="fmgrade" class="form-group row">
                                    <div class="col-md-12">
                                        <button type="button" onclick="ViewStudentScore()" class="btn btn-primary">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            Xem bảng điểm lớp
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <table id="classtable" class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã học sinh</th>
                                    <th>Họ tên</th>
                                    <th>Điểm 15 phút</th>
                                    <th>Điểm 1 tiết</th>
                                    <th>Điểm cuối học kỳ</th>
                                    <th>Điểm TB</th>
                                    <th>Cập nhật</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<input id="basics" />


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content card card-outline-primary">
            <div class="modal-header card-header">
                <h4 class="modal-title" id="exampleModalLabel1" style="color:white">Cập nhật điểm số</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right  col-md-4">Họ tên</label>
                            <div class="col-md-8">
                                <input id="fullName" type="text" class="form-control" disabled>
                                <input id="fid" type="hidden" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right  col-md-4">Điểm 15 phút</label>
                            <div class="col-md-8">
                                <input id="fp15" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right  col-md-4">Điểm 1 tiết</label>
                            <div class="col-md-8">
                                <input id="fp45" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right  col-md-4">Điểm cuối kỳ</label>
                            <div class="col-md-8">
                                <input id="fpl" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Đóng</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="updatepoint()"><i class="fa fa-edit" style="font-size:16px"></i>Lưu</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Students/Score.js"></script>
<script>

    var options = {
        data: ["blue", "green", "pink", "red", "yellow"]
    };

    $("#basics").easyAutocomplete(options);
</script>